In [15]:
import pandas as pd

# 假设df是你的DataFrame
df = pd.DataFrame()
df.loc[1,'A'] = 1

# 使用iterrows()函数遍历df的每一行
for index, row in df.iterrows():
    print(type(index))

<class 'int'>

In [18]:
range(49)

range(0, 49)

In [17]:
df

     A
0  1.0