In [8]:
import pandas as pd
train = pd.read_csv('Data/train.csv')
test = pd.read_csv('Data/test.csv')

In [9]:
train.head()

,first_active_month,card_id,feature_1,feature_2,feature_3,target
0,2017-06,C_ID_92a2005557,5,2,1,-0.820283
1,2017-01,C_ID_3d0044924f,4,1,0,0.392913
2,2016-08,C_ID_d639edf6cd,2,2,0,0.688056
3,2017-09,C_ID_186d6a6901,4,3,0,0.142495
4,2017-11,C_ID_cdbd2c0db2,1,3,0,-0.159749

In [10]:
test.head()

  first_active_month          card_id  feature_1  feature_2  feature_3
0            2017-04  C_ID_0ab67a22ab          3          3          1
1            2017-01  C_ID_130fd0cbdd          2          3          0
2            2017-08  C_ID_b709037bc5          5          1          1
3            2017-12  C_ID_d27d835a9f          2          1          0
4            2015-12  C_ID_2b5e3df5c2          5          1          1

Check Duplicate Values

In [11]:
train['card_id'].nunique() == train.shape[0]

True

In [12]:
test['card_id'].nunique() == test.shape[0]

True

In [14]:
train['card_id'].nunique() + test['card_id'].nunique() == len(set(train['card_id'].values.tolist() + test['card_id'].values.tolist()))

True