In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
import xgboost as xgb
from sklearn.model_selection import train_test_split

warnings.filterwarnings("ignore")
diamonds = sns.load_dataset("diamonds")
diamonds.head()
X, y = diamonds.drop('price', axis=1), diamonds[['price']]
X.select_dtypes(exclude=np.number).astype('category')
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
dtrain_reg = xgb.DMatrix(X_train, y_train, enable_categorical=True)
dtest_reg = xgb.DMatrix(X_test, y_test, enable_categorical=True)

In [2]:
params = {"objective": "reg:squarederror", "tree_method": "hist"}
n = 100
results = xgb.cv(
    params, dtrain_reg,
    num_boost_round=n,
    nfold=5,
    early_stopping_rounds=20
)

In [3]:
results.head()

   train-rmse-mean  train-rmse-std  test-rmse-mean  test-rmse-std
0      2874.224552        9.424846     2876.318793      36.995997
1      2088.350837        7.595382     2093.063623      25.351925
2      1552.629638        4.974140     1560.552731      19.550836
3      1185.994963        4.133544     1198.669943      14.648669
4       943.402904        4.757288      962.349383      11.724038

In [4]:
%reset -f